.Rproj.user
.Rhistory
.Rdata
.README.html
data_to_clean.csv
clean_data.csv
*.html
*.xlsx
*.rds
*.RData
*.DS_Store
scratchpad
anaylysis/*_files
analysis/*_files
analysis/*_cache
analysis/*.log
analysis/*.pdf
*.csv
*.tex
analysis/*_files*
*.log
*.pdf
*.docx
Rplot.png
elians_case_when.R
.png
figs/
