# R files
.Rproj.user
.Rhistory
.Rdata
.README.html
*.rds
*.RData
*.DS_Store

# data files
*.csv
*.xlsx

# cashe directories
/cache/
*_cache

# output files
*.html
*.pdf
*.docx

# figures
/figs/

# miscellaneous files
scratchpad
